In [1]:
from pandas import read_csv
import pandas as pd
from pandas import datetime
from datetime import datetime
from matplotlib import pyplot

In [17]:
series1 = pd.read_csv("../Dataset/724940_2006_solar_SF.csv")
df = pd.DataFrame(series1, index = ["HH:MM (LST)"])

In [18]:
series1.head()

,YYYY-MM-DD,HH:MM (LST),Zenith (deg),Azimuth (deg),ETR (Wh/m^2),ETRN (Wh/m^2),SUNY Glo (Wh/m^2),SUNY Glo Flg,SUNY Glo Unc (%),SUNY Dir (Wh/m^2),...,Precip Wat (cm),Precip Wat Flg,AOD (unitless),AOD Flg,AOD RAN (unitless),AOD RAN Flg,Ozone (cm),Ozone Flg,Albedo (unitless),Albedo Flg
0,1/1/2006,1:00,99.0,-99.0,0,0,0,0,0,0,...,1.8,3,0.108,1,0.108,1,0.266,2,0.16,0
1,1/1/2006,2:00,99.0,-99.0,0,0,0,0,0,0,...,1.7,51,0.108,1,0.108,1,0.268,51,0.16,0
2,1/1/2006,3:00,99.0,-99.0,0,0,0,0,0,0,...,1.6,51,0.108,1,0.108,1,0.269,51,0.16,0
3,1/1/2006,4:00,99.0,-99.0,0,0,0,0,0,0,...,1.5,3,0.108,1,0.108,1,0.271,51,0.16,0
4,1/1/2006,5:00,99.0,-99.0,0,0,0,0,0,0,...,1.6,51,0.108,1,0.108,1,0.273,51,0.16,0

In [15]:
series1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 43 columns):
YYYY-MM-DD                   8760 non-null datetime64[ns]
HH:MM (LST)                  8760 non-null object
Zenith (deg)                 8760 non-null float64
Azimuth (deg)                8760 non-null float64
ETR (Wh/m^2)                 8760 non-null int64
ETRN (Wh/m^2)                8760 non-null int64
SUNY Glo (Wh/m^2)            8760 non-null int64
SUNY Glo Flg                 8760 non-null int64
SUNY Glo Unc (%)             8760 non-null int64
SUNY Dir (Wh/m^2)            8760 non-null int64
SUNY Dir Flg                 8760 non-null int64
SUNY Dir Unc (%)             8760 non-null int64
SUNY Dif (Wh/m^2)            8760 non-null int64
SUNY Dif Flg                 8760 non-null int64
SUNY Dif Unc (%)             8760 non-null int64
METSTAT Glo (Wh/m^2)         8760 non-null int64
METSTAT Glo Unc (%)          8760 non-null int64
METSTAT Dir (Wh/m^2)         8760 non-null int64
METSTAT Dir Unc (%)          8760 non-null int64
METSTAT Dif (Wh/m^2)         8760 non-null int64
METSTAT Dif Unc (%)          8760 non-null int64
METSTAT CSKY Glo (Wh/m^2)    8760 non-null int64
METSTAT CSKY Glo Unc (%)     8760 non-null int64
METSTAT CSKY Dir (Wh/m^2)    8760 non-null int64
METSTAT CSKY Dir Unc (%)     8760 non-null int64
METSTAT CSKY Dif (Wh/m^2)    8760 non-null int64
METSTAT CSKY Dif Unc (%)     8760 non-null int64
Meas Glo (Wh/m^2)            8760 non-null int64
Meas Glo Flg                 8760 non-null int64
Meas Dir (Wh/m^2)            8760 non-null int64
Meas Dir Flg                 8760 non-null int64
Meas Dif (Wh/m^2)            8760 non-null int64
Meas Dif Flg                 8760 non-null int64
Precip Wat (cm)              8760 non-null float64
Precip Wat Flg               8760 non-null int64
AOD (unitless)               8760 non-null float64
AOD Flg                      8760 non-null int64
AOD RAN (unitless)           8760 non-null float64
 AOD RAN Flg                 8760 non-null int64
Ozone (cm)                   8760 non-null float64
Ozone Flg                    8760 non-null int64
Albedo (unitless)            8760 non-null float64
Albedo Flg                   8760 non-null int64
dtypes: datetime64[ns](1), float64(7), int64(34), object(1)
memory usage: 2.8+ MB

In [19]:
series1["HH:MM (LST)"] = pd.to_datetime(series1['YYYY-MM-DD']+ " " + series1["HH:MM (LST)"])

In [20]:
series1.head()

,YYYY-MM-DD,HH:MM (LST),Zenith (deg),Azimuth (deg),ETR (Wh/m^2),ETRN (Wh/m^2),SUNY Glo (Wh/m^2),SUNY Glo Flg,SUNY Glo Unc (%),SUNY Dir (Wh/m^2),...,Precip Wat (cm),Precip Wat Flg,AOD (unitless),AOD Flg,AOD RAN (unitless),AOD RAN Flg,Ozone (cm),Ozone Flg,Albedo (unitless),Albedo Flg
0,1/1/2006,2006-01-01 01:00:00,99.0,-99.0,0,0,0,0,0,0,...,1.8,3,0.108,1,0.108,1,0.266,2,0.16,0
1,1/1/2006,2006-01-01 02:00:00,99.0,-99.0,0,0,0,0,0,0,...,1.7,51,0.108,1,0.108,1,0.268,51,0.16,0
2,1/1/2006,2006-01-01 03:00:00,99.0,-99.0,0,0,0,0,0,0,...,1.6,51,0.108,1,0.108,1,0.269,51,0.16,0
3,1/1/2006,2006-01-01 04:00:00,99.0,-99.0,0,0,0,0,0,0,...,1.5,3,0.108,1,0.108,1,0.271,51,0.16,0
4,1/1/2006,2006-01-01 05:00:00,99.0,-99.0,0,0,0,0,0,0,...,1.6,51,0.108,1,0.108,1,0.273,51,0.16,0

In [121]:
series1.shape

(8760, 43)

In [21]:
series1 = series1.drop('YYYY-MM-DD', axis= 1)

In [22]:
series1.head()

,HH:MM (LST),Zenith (deg),Azimuth (deg),ETR (Wh/m^2),ETRN (Wh/m^2),SUNY Glo (Wh/m^2),SUNY Glo Flg,SUNY Glo Unc (%),SUNY Dir (Wh/m^2),SUNY Dir Flg,...,Precip Wat (cm),Precip Wat Flg,AOD (unitless),AOD Flg,AOD RAN (unitless),AOD RAN Flg,Ozone (cm),Ozone Flg,Albedo (unitless),Albedo Flg
0,2006-01-01 01:00:00,99.0,-99.0,0,0,0,0,0,0,0,...,1.8,3,0.108,1,0.108,1,0.266,2,0.16,0
1,2006-01-01 02:00:00,99.0,-99.0,0,0,0,0,0,0,0,...,1.7,51,0.108,1,0.108,1,0.268,51,0.16,0
2,2006-01-01 03:00:00,99.0,-99.0,0,0,0,0,0,0,0,...,1.6,51,0.108,1,0.108,1,0.269,51,0.16,0
3,2006-01-01 04:00:00,99.0,-99.0,0,0,0,0,0,0,0,...,1.5,3,0.108,1,0.108,1,0.271,51,0.16,0
4,2006-01-01 05:00:00,99.0,-99.0,0,0,0,0,0,0,0,...,1.6,51,0.108,1,0.108,1,0.273,51,0.16,0

In [23]:
series1_index = series1.set_index('HH:MM (LST)', inplace= True)
series1_re = series1.resample('5Min').mean()

In [24]:
series1_re.head()

,Zenith (deg),Azimuth (deg),ETR (Wh/m^2),ETRN (Wh/m^2),SUNY Glo (Wh/m^2),SUNY Glo Flg,SUNY Glo Unc (%),SUNY Dir (Wh/m^2),SUNY Dir Flg,SUNY Dir Unc (%),...,Precip Wat (cm),Precip Wat Flg,AOD (unitless),AOD Flg,AOD RAN (unitless),AOD RAN Flg,Ozone (cm),Ozone Flg,Albedo (unitless),Albedo Flg
HH:MM (LST),,,,,,,,,,,,,,,,,,,,,
2006-01-01 00:00:00,99.0,-99.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.9,51.0,0.108,1.0,0.122,1.0,0.305,51.0,0.16,0.0
2006-01-01 00:05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-01-01 00:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-01-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-01-01 00:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
interpolated = series1_re.interpolate(method = 'linear')
print(interpolated)

                     Zenith (deg)  Azimuth (deg)  ETR (Wh/m^2)  ETRN (Wh/m^2)  \
HH:MM (LST)
2006-01-01 00:00:00          99.0          -99.0           0.0            0.0
2006-01-01 00:05:00          99.0          -99.0           0.0            0.0
2006-01-01 00:10:00          99.0          -99.0           0.0            0.0
2006-01-01 00:15:00          99.0          -99.0           0.0            0.0
2006-01-01 00:20:00          99.0          -99.0           0.0            0.0
2006-01-01 00:25:00          99.0          -99.0           0.0            0.0
2006-01-01 00:30:00          99.0          -99.0           0.0            0.0
2006-01-01 00:35:00          99.0          -99.0           0.0            0.0
2006-01-01 00:40:00          99.0          -99.0           0.0            0.0
2006-01-01 00:45:00          99.0          -99.0           0.0            0.0
2006-01-01 00:50:00          99.0          -99.0           0.0            0.0
2006-01-01 00:55:00          99.0          -99.0           0.0            0.0
2006-01-01 01:00:00          99.0          -99.0           0.0            0.0
2006-01-01 01:05:00          99.0          -99.0           0.0            0.0
2006-01-01 01:10:00          99.0          -99.0           0.0            0.0
2006-01-01 01:15:00          99.0          -99.0           0.0            0.0
2006-01-01 01:20:00          99.0          -99.0           0.0            0.0
2006-01-01 01:25:00          99.0          -99.0           0.0            0.0
2006-01-01 01:30:00          99.0          -99.0           0.0            0.0
2006-01-01 01:35:00          99.0          -99.0           0.0            0.0
2006-01-01 01:40:00          99.0          -99.0           0.0            0.0
2006-01-01 01:45:00          99.0          -99.0           0.0            0.0
2006-01-01 01:50:00          99.0          -99.0           0.0            0.0
2006-01-01 01:55:00          99.0          -99.0           0.0            0.0
2006-01-01 02:00:00          99.0          -99.0           0.0            0.0
2006-01-01 02:05:00          99.0          -99.0           0.0            0.0
2006-01-01 02:10:00          99.0          -99.0           0.0            0.0
2006-01-01 02:15:00          99.0          -99.0           0.0            0.0
2006-01-01 02:20:00          99.0          -99.0           0.0            0.0
2006-01-01 02:25:00          99.0          -99.0           0.0            0.0
...                           ...            ...           ...            ...
2006-12-31 20:35:00          99.0          -99.0           0.0            0.0
2006-12-31 20:40:00          99.0          -99.0           0.0            0.0
2006-12-31 20:45:00          99.0          -99.0           0.0            0.0
2006-12-31 20:50:00          99.0          -99.0           0.0            0.0
2006-12-31 20:55:00          99.0          -99.0           0.0            0.0
2006-12-31 21:00:00          99.0          -99.0           0.0            0.0
2006-12-31 21:05:00          99.0          -99.0           0.0            0.0
2006-12-31 21:10:00          99.0          -99.0           0.0            0.0
2006-12-31 21:15:00          99.0          -99.0           0.0            0.0
2006-12-31 21:20:00          99.0          -99.0           0.0            0.0
2006-12-31 21:25:00          99.0          -99.0           0.0            0.0
2006-12-31 21:30:00          99.0          -99.0           0.0            0.0
2006-12-31 21:35:00          99.0          -99.0           0.0            0.0
2006-12-31 21:40:00          99.0          -99.0           0.0            0.0
2006-12-31 21:45:00          99.0          -99.0           0.0            0.0
2006-12-31 21:50:00          99.0          -99.0           0.0            0.0
2006-12-31 21:55:00          99.0          -99.0           0.0            0.0
2006-12-31 22:00:00          99.0          -99.0           0.0            0.0
2006-12-31 22:05:00          99.0          -99.0           0.0            0.0
2006-12-31 22:10:00          99.0          -99.0           0.0            0.0
2006-12-31 22:15:00          99.0          -99.0           0.0            0.0
2006-12-31 22:20:00          99.0          -99.0           0.0            0.0
2006-12-31 22:25:00          99.0          -99.0           0.0            0.0
2006-12-31 22:30:00          99.0          -99.0           0.0            0.0
2006-12-31 22:35:00          99.0          -99.0           0.0            0.0
2006-12-31 22:40:00          99.0          -99.0           0.0            0.0
2006-12-31 22:45:00          99.0          -99.0           0.0            0.0
2006-12-31 22:50:00          99.0          -99.0           0.0            0.0
2006-12-31 22:55:00          99.0          -99.0           0.0            0.0
2006-12-31 23:00:00          99.0          -99.0           0.0            0.0

                     SUNY Glo (Wh/m^2)  SUNY Glo Flg  SUNY Glo Unc (%)  \
HH:MM (LST)
2006-01-01 00:00:00                0.0           0.0               0.0
2006-01-01 00:05:00                0.0           0.0               0.0
2006-01-01 00:10:00                0.0           0.0               0.0
2006-01-01 00:15:00                0.0           0.0               0.0
2006-01-01 00:20:00                0.0           0.0               0.0
2006-01-01 00:25:00                0.0           0.0               0.0
2006-01-01 00:30:00                0.0           0.0               0.0
2006-01-01 00:35:00                0.0           0.0               0.0
2006-01-01 00:40:00                0.0           0.0               0.0
2006-01-01 00:45:00                0.0           0.0               0.0
2006-01-01 00:50:00                0.0           0.0               0.0
2006-01-01 00:55:00                0.0           0.0               0.0
2006-01-01 01:00:00                0.0           0.0               0.0
2006-01-01 01:05:00                0.0           0.0               0.0
2006-01-01 01:10:00                0.0           0.0               0.0
2006-01-01 01:15:00                0.0           0.0               0.0
2006-01-01 01:20:00                0.0           0.0               0.0
2006-01-01 01:25:00                0.0           0.0               0.0
2006-01-01 01:30:00                0.0           0.0               0.0
2006-01-01 01:35:00                0.0           0.0               0.0
2006-01-01 01:40:00                0.0           0.0               0.0
2006-01-01 01:45:00                0.0           0.0               0.0
2006-01-01 01:50:00                0.0           0.0               0.0
2006-01-01 01:55:00                0.0           0.0               0.0
2006-01-01 02:00:00                0.0           0.0               0.0
2006-01-01 02:05:00                0.0           0.0               0.0
2006-01-01 02:10:00                0.0           0.0               0.0
2006-01-01 02:15:00                0.0           0.0               0.0
2006-01-01 02:20:00                0.0           0.0               0.0
2006-01-01 02:25:00                0.0           0.0               0.0
...                                ...           ...               ...
2006-12-31 20:35:00                0.0           0.0               0.0
2006-12-31 20:40:00                0.0           0.0               0.0
2006-12-31 20:45:00                0.0           0.0               0.0
2006-12-31 20:50:00                0.0           0.0               0.0
2006-12-31 20:55:00                0.0           0.0               0.0
2006-12-31 21:00:00                0.0           0.0               0.0
2006-12-31 21:05:00                0.0           0.0               0.0
2006-12-31 21:10:00                0.0           0.0               0.0
2006-12-31 21:15:00                0.0           0.0               0.0
2006-12-31 21:20:00                0.0           0.0               0.0
2006-12-31 21:25:00                0.0           0.0               0.0
2006-12-31 21:30:00                0.0           0.0               0.0
2006-12-31 21:35:00                0.0           0.0               0.0
2006-12-31 21:40:00                0.0           0.0               0.0
2006-12-31 21:45:00                0.0           0.0               0.0
2006-12-31 21:50:00                0.0           0.0               0.0
2006-12-31 21:55:00                0.0           0.0               0.0
2006-12-31 22:00:00                0.0           0.0               0.0
2006-12-31 22:05:00                0.0           0.0               0.0
2006-12-31 22:10:00                0.0           0.0               0.0
2006-12-31 22:15:00                0.0           0.0               0.0
2006-12-31 22:20:00                0.0           0.0               0.0
2006-12-31 22:25:00                0.0           0.0               0.0
2006-12-31 22:30:00                0.0           0.0               0.0
2006-12-31 22:35:00                0.0           0.0               0.0
2006-12-31 22:40:00                0.0           0.0               0.0
2006-12-31 22:45:00                0.0           0.0               0.0
2006-12-31 22:50:00                0.0           0.0               0.0
2006-12-31 22:55:00                0.0           0.0               0.0
2006-12-31 23:00:00                0.0           0.0               0.0

                     SUNY Dir (Wh/m^2)  SUNY Dir Flg  SUNY Dir Unc (%)  ...  \
HH:MM (LST)                                                             ...
2006-01-01 00:00:00                0.0           0.0               0.0  ...
2006-01-01 00:05:00                0.0           0.0               0.0  ...
2006-01-01 00:10:00                0.0           0.0               0.0  ...
2006-01-01 00:15:00                0.0           0.0               0.0  ...
2006-01-01 00:20:00                0.0           0.0               0.0  ...
2006-01-01 00:25:00                0.0           0.0               0.0  ...
2006-01-01 00:30:00                0.0           0.0               0.0  ...
2006-01-01 00:35:00                0.0           0.0               0.0  ...
2006-01-01 00:40:00                0.0           0.0               0.0  ...
2006-01-01 00:45:00                0.0           0.0               0.0  ...
2006-01-01 00:50:00                0.0           0.0               0.0  ...
2006-01-01 00:55:00                0.0           0.0               0.0  ...
2006-01-01 01:00:00                0.0           0.0               0.0  ...
2006-01-01 01:05:00                0.0           0.0               0.0  ...
2006-01-01 01:10:00                0.0           0.0               0.0  ...
2006-01-01 01:15:00                0.0           0.0               0.0  ...
2006-01-01 01:20:00                0.0           0.0               0.0  ...
2006-01-01 01:25:00                0.0           0.0               0.0  ...
2006-01-01 01:30:00                0.0           0.0               0.0  ...
2006-01-01 01:35:00                0.0           0.0               0.0  ...
2006-01-01 01:40:00                0.0           0.0               0.0  ...
2006-01-01 01:45:00                0.0           0.0               0.0  ...
2006-01-01 01:50:00                0.0           0.0               0.0  ...
2006-01-01 01:55:00                0.0           0.0               0.0  ...
2006-01-01 02:00:00                0.0           0.0               0.0  ...
2006-01-01 02:05:00                0.0           0.0               0.0  ...
2006-01-01 02:10:00                0.0           0.0               0.0  ...
2006-01-01 02:15:00                0.0           0.0               0.0  ...
2006-01-01 02:20:00                0.0           0.0               0.0  ...
2006-01-01 02:25:00                0.0           0.0               0.0  ...
...                                ...           ...               ...  ...
2006-12-31 20:35:00                0.0           0.0               0.0  ...
2006-12-31 20:40:00                0.0           0.0               0.0  ...
2006-12-31 20:45:00                0.0           0.0               0.0  ...
2006-12-31 20:50:00                0.0           0.0               0.0  ...
2006-12-31 20:55:00                0.0           0.0               0.0  ...
2006-12-31 21:00:00                0.0           0.0               0.0  ...
2006-12-31 21:05:00                0.0           0.0               0.0  ...
2006-12-31 21:10:00                0.0           0.0               0.0  ...
2006-12-31 21:15:00                0.0           0.0               0.0  ...
2006-12-31 21:20:00                0.0           0.0               0.0  ...
2006-12-31 21:25:00                0.0           0.0               0.0  ...
2006-12-31 21:30:00                0.0           0.0               0.0  ...
2006-12-31 21:35:00                0.0           0.0               0.0  ...
2006-12-31 21:40:00                0.0           0.0               0.0  ...
2006-12-31 21:45:00                0.0           0.0               0.0  ...
2006-12-31 21:50:00                0.0           0.0               0.0  ...
2006-12-31 21:55:00                0.0           0.0               0.0  ...
2006-12-31 22:00:00                0.0           0.0               0.0  ...
2006-12-31 22:05:00                0.0           0.0               0.0  ...
2006-12-31 22:10:00                0.0           0.0               0.0  ...
2006-12-31 22:15:00                0.0           0.0               0.0  ...
2006-12-31 22:20:00                0.0           0.0               0.0  ...
2006-12-31 22:25:00                0.0           0.0               0.0  ...
2006-12-31 22:30:00                0.0           0.0               0.0  ...
2006-12-31 22:35:00                0.0           0.0               0.0  ...
2006-12-31 22:40:00                0.0           0.0               0.0  ...
2006-12-31 22:45:00                0.0           0.0               0.0  ...
2006-12-31 22:50:00                0.0           0.0               0.0  ...
2006-12-31 22:55:00                0.0           0.0               0.0  ...
2006-12-31 23:00:00                0.0           0.0               0.0  ...

                     Precip Wat (cm)  Precip Wat Flg  AOD (unitless)  AOD Flg  \
HH:MM (LST)
2006-01-01 00:00:00         1.900000            51.0           0.108      1.0
2006-01-01 00:05:00         1.891667            47.0           0.108      1.0
2006-01-01 00:10:00         1.883333            43.0           0.108      1.0
2006-01-01 00:15:00         1.875000            39.0           0.108      1.0
2006-01-01 00:20:00         1.866667            35.0           0.108      1.0
2006-01-01 00:25:00         1.858333            31.0           0.108      1.0
2006-01-01 00:30:00         1.850000            27.0           0.108      1.0
2006-01-01 00:35:00         1.841667            23.0           0.108      1.0
2006-01-01 00:40:00         1.833333            19.0           0.108      1.0
2006-01-01 00:45:00         1.825000            15.0           0.108      1.0
2006-01-01 00:50:00         1.816667            11.0           0.108      1.0
2006-01-01 00:55:00         1.808333             7.0           0.108      1.0
2006-01-01 01:00:00         1.800000             3.0           0.108      1.0
2006-01-01 01:05:00         1.791667             7.0           0.108      1.0
2006-01-01 01:10:00         1.783333            11.0           0.108      1.0
2006-01-01 01:15:00         1.775000            15.0           0.108      1.0
2006-01-01 01:20:00         1.766667            19.0           0.108      1.0
2006-01-01 01:25:00         1.758333            23.0           0.108      1.0
2006-01-01 01:30:00         1.750000            27.0           0.108      1.0
2006-01-01 01:35:00         1.741667            31.0           0.108      1.0
2006-01-01 01:40:00         1.733333            35.0           0.108      1.0
2006-01-01 01:45:00         1.725000            39.0           0.108      1.0
2006-01-01 01:50:00         1.716667            43.0           0.108      1.0
2006-01-01 01:55:00         1.708333            47.0           0.108      1.0
2006-01-01 02:00:00         1.700000            51.0           0.108      1.0
2006-01-01 02:05:00         1.691667            51.0           0.108      1.0
2006-01-01 02:10:00         1.683333            51.0           0.108      1.0
2006-01-01 02:15:00         1.675000            51.0           0.108      1.0
2006-01-01 02:20:00         1.666667            51.0           0.108      1.0
2006-01-01 02:25:00         1.658333            51.0           0.108      1.0
...                              ...             ...             ...      ...
2006-12-31 20:35:00         1.500000            51.0           0.108      1.0
2006-12-31 20:40:00         1.500000            51.0           0.108      1.0
2006-12-31 20:45:00         1.500000            51.0           0.108      1.0
2006-12-31 20:50:00         1.500000            51.0           0.108      1.0
2006-12-31 20:55:00         1.500000            51.0           0.108      1.0
2006-12-31 21:00:00         1.500000            51.0           0.108      1.0
2006-12-31 21:05:00         1.500000            47.0           0.108      1.0
2006-12-31 21:10:00         1.500000            43.0           0.108      1.0
2006-12-31 21:15:00         1.500000            39.0           0.108      1.0
2006-12-31 21:20:00         1.500000            35.0           0.108      1.0
2006-12-31 21:25:00         1.500000            31.0           0.108      1.0
2006-12-31 21:30:00         1.500000            27.0           0.108      1.0
2006-12-31 21:35:00         1.500000            23.0           0.108      1.0
2006-12-31 21:40:00         1.500000            19.0           0.108      1.0
2006-12-31 21:45:00         1.500000            15.0           0.108      1.0
2006-12-31 21:50:00         1.500000            11.0           0.108      1.0
2006-12-31 21:55:00         1.500000             7.0           0.108      1.0
2006-12-31 22:00:00         1.500000             3.0           0.108      1.0
2006-12-31 22:05:00         1.491667             7.0           0.108      1.0
2006-12-31 22:10:00         1.483333            11.0           0.108      1.0
2006-12-31 22:15:00         1.475000            15.0           0.108      1.0
2006-12-31 22:20:00         1.466667            19.0           0.108      1.0
2006-12-31 22:25:00         1.458333            23.0           0.108      1.0
2006-12-31 22:30:00         1.450000            27.0           0.108      1.0
2006-12-31 22:35:00         1.441667            31.0           0.108      1.0
2006-12-31 22:40:00         1.433333            35.0           0.108      1.0
2006-12-31 22:45:00         1.425000            39.0           0.108      1.0
2006-12-31 22:50:00         1.416667            43.0           0.108      1.0
2006-12-31 22:55:00         1.408333            47.0           0.108      1.0
2006-12-31 23:00:00         1.400000            51.0           0.108      1.0

                     AOD RAN (unitless)   AOD RAN Flg  Ozone (cm)  Ozone Flg  \
HH:MM (LST)
2006-01-01 00:00:00            0.122000           1.0    0.305000  51.000000
2006-01-01 00:05:00            0.120833           1.0    0.301750  46.916667
2006-01-01 00:10:00            0.119667           1.0    0.298500  42.833333
2006-01-01 00:15:00            0.118500           1.0    0.295250  38.750000
2006-01-01 00:20:00            0.117333           1.0    0.292000  34.666667
2006-01-01 00:25:00            0.116167           1.0    0.288750  30.583333
2006-01-01 00:30:00            0.115000           1.0    0.285500  26.500000
2006-01-01 00:35:00            0.113833           1.0    0.282250  22.416667
2006-01-01 00:40:00            0.112667           1.0    0.279000  18.333333
2006-01-01 00:45:00            0.111500           1.0    0.275750  14.250000
2006-01-01 00:50:00            0.110333           1.0    0.272500  10.166667
2006-01-01 00:55:00            0.109167           1.0    0.269250   6.083333